
html, body
{ height: 100%; width: 100%; margin: 0; font-family:"Lucida Sans Unicode", "Lucida Grande", "Trebuchet MS", "Helvetica", "sans-serif"; background-color:black; }


h4 { font-weight:normal;}
h3 { font-weight:normal;}
h2 { font-weight:normal;}


#cta {
    position: absolute;
    left: 70%;
    top: 5%;
}


@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake,
.shake{
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 1.5s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

.shake:hover,
.shake:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
     animation-play-state: paused;
}

#container {

    width: 100%;
    height: 100%;

}

#title {
    display:block;
    background-color:  ;
    text-align: justify;
    margin:auto;
    width:400px;
    }

a {
    color:white;
    text-decoration:none;
    padding-left:0px;
    padding-top:0px;
    padding-right: 20px;
    padding-bottom:200px;
    height: 40px;
}

#MENU {
    position:absolute;
    margin: 0;
    top: 45%;
    left: 35%;
    margin-right: -30%;
}

#MENU img {
    height: 250px;
}
   
#middle_index {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: auto;
    margin-bottom: 8px;
    }
    
#imgmiddle_index {
    height: 100%;
    margin:auto;
    min-height: 500px;

}



